.App {
	display: flex;
	width: 100%;
	aspect-ratio: 2;
	position: relative;
	justify-content: center;
	align-items: center;
}

.QuoteBox {
	background-color: white;
	width: 60%;
	aspect-ratio: 5;
	position: absolute;
	padding: 10px;
	box-shadow: 5px 5px 10px #000;
}

.card-quote_quotation {
	font-size: 5em;
	margin-right: 10px;
}

.card-quote {
	display: flex;
	flex-direction: row;
}

.card-autor {
	text-align: right;
}

.card-autor_btn {
	color: white;
	border: 0;
	width: 50px;
	aspect-ratio: 1;
	font-size: 2rem;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 10px #000;
}
